{% extends 'base.html.twig' %}

{% block body %}
    <h1>attestation creation</h1>
    <ul class="pull-right">
        <li>
            <a class="btn btn-danger" href="{{ path('typeattestation_index') }}">Retour</a>
        </li>
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit" > Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
